{% extends 'base.html.twig' %}

{% block title %}MyDigitalBNB{% endblock %}

{% block body %}

    <div class="container">

        <h1>{{'Latest listings posted online'|trans}} </h1>
        <hr>
        <br>
                        
            <div class="row">
            {% for housing in housing|reverse %}
                <div class="col-6 mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src='{{ 'images/'~ housing.imgHousing }}' alt="" width="150px"><br>
                        </div>
                        <div class="col-lg-8">
                            <h2>{{ housing.titleHousing ~ " - " ~ housing.typeHousing}}</h2>
                            <p>{{ housing.descriptionHousing }}</p>
                            <p>{{housing.pricePerNightHousing ~ "€/night"}}</p>
                            <p>{{ housing.cityHousing }}</p>
                            {% if is_granted('ROLE_USER') %}
                                <a class=" btn btn-primary" href="{{ path('reservation_new', {'id_housing': housing.id}) }}">To book</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>  

        <div class="container">

        <div class="row mt-5">
            <div class="col text-center">
                <h1 class='stats-nb'>{{ housing|length }}</h1>
                <h4>{{'Housing'|trans}}</h4>
                <h4>{{'recorded'|trans}}</h4>
            </div>

            <div class="col text-center">
                <h1 class='stats-nb'>{{ reservations|length }}</h1>
                <h4>{{'Reservation'|trans}}</h4>
                <h4>{{'recorded'|trans}}</h4>
            </div>

        </div>
    </div>
    
    <div class="text-center">
        <h5 class="h5 font-weight-normal">©{{ "now"|date("Y") }} - MyDigitalBNB</h5>
    </div>

{% endblock %}
