{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div class="container">

        <h1>Dernières annonces mises en ligne</h1>
            <div class="row">
            {% for housing in housing|reverse %}
                    <div class="col-lg-6">
                        <img src={{ housing.imgHousing }} alt="">
                        {{ housing.id ~ ", " ~ housing.titleHousing ~ ", " ~ housing.pricePerNightHousing ~ "€/night " ~ housing.typeHousing ~ " in " ~ housing.cityHousing }}<br>
                        {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('reservation_new', {'id_housing': housing.id}) }}">To book</a>
                        {%endif%}
                    </div>
            {% endfor %}
            </div>  

        <div class="container">

        <div class="row mt-5">
            <div class="col text-center">
                <h1 class='stats-nb'>{{ housing|length }}</h1>
                <h4>{{'Housing'|trans}}</h4>
                <h4>{{'recorded'|trans}}</h4>
            </div>

            <div class="col text-center">
                <h1 class='stats-nb'>{{ reservations|length }}</h1>
                <h4>{{'Reservation'|trans}}</h4>
                <h4>{{'recorded'|trans}}</h4>
            </div>

        </div>
    </div>
    
    <div class="text-center fixed-bottom">
        <h5 class="h5 font-weight-normal">©{{ "now"|date("Y") }} - MyDigitalBNB</h5>
    </div>

{% endblock %}
