<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            {# <link rel="stylesheet" href="{{ assets('css/app.css') }}"/> #}
        {% endblock %}
        
    </head>
    <body>
    {% if is_granted('ROLE_ADMIN') %}
     <nav class="navbar navbar-expand-md navbar-light custom-nav">
            {# <img class="ml-5" width="50" src='{{ asset('images/logo.png') }}'>  #}
            <a class="navbar-brand" href="{{ path('default') }}">MyDigitalBNB</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav px-5">
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('default') }}">{{ 'Home'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('housing_index') }}">{{ 'Housing'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('reservation_index') }}">{{ 'Reservation'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('user_index') }}">{{ 'User'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% elseif is_granted('ROLE_USER') %}
        <nav class="navbar navbar-expand-md navbar-light custom-nav">
            {# <img class="ml-5" width="50" src='{{ asset('images/logo.png') }}'>  #}
            <a class="navbar-brand" href="{{ path('default') }}">MyDigitalBNB</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav px-5">
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('default') }}">{{ 'Home'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('housing_index') }}">{{ 'Housing'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('reservation_index') }}">{{ 'Reservation'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('user_index') }}{{app.user.id}}">{{ 'My account'|trans }}</a>
                    </li>
                    
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% else %}
        <nav class="navbar navbar-expand-md navbar-light custom-nav">
            {# <img class="ml-5" width="50" src='{{ asset('images/logo.png') }}'>  #}
            <a class="navbar-brand" href="{{ path('default') }}">MyDigitalBNB</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav px-5">
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('default') }}">{{ 'Home'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('app_login') }}">{{ 'Login'|trans }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% endif %}
        {% block body %}
           
        {% endblock %}
        {% block javascripts %}
        <script src="https://kit.fontawesome.com/f0b6273a17.js" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
